= bootstrap_form_for @edition, layout: :horizontal do |f|
  - if @edition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@edition.errors.count, "error")} prohibited this edition from being saved:"
      %ul
        - @edition.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :nom
  = f.submit 'Save', class: "btn"
