:javascript
  $(document).ready(function(){
    $("#livre_auteur_nom").autocomplete({
      source: $("#livre_auteur_nom").data('autocomplete-source'),
    });
    $("#livre_edition_nom").autocomplete({
      source: $("#livre_edition_nom").data('autocomplete-source'),
    });
    $("#livre_genre_nom").autocomplete({
      source: $("#livre_genre_nom").data('autocomplete-source'),
    });
    $("#livre_emplacement_nom").autocomplete({
      source: $("#livre_emplacement_nom").data('autocomplete-source'),
    });
  });

= bootstrap_form_for @livre, layout: :horizontal do |f|
  - if @livre.errors.any?
    %div.alert.alert-danger{role: "alert"}
      - @livre.errors.full_messages.each do |msg|
        %li
          %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
          %span.sr-only
            Error:
          = msg
          
  = f.text_field :titre
  = f.text_field :auteur_nom, label: "Auteur",  data: {autocomplete_source: autocomplete_auteur_nom_auteurs_path}
  = f.text_field :edition_nom, label: "Edition",  data: {autocomplete_source: autocomplete_edition_nom_editions_path}
  = f.text_field :genre_nom, label: "Genre",  data: {autocomplete_source: autocomplete_genre_nom_genres_path}
  = f.text_field :emplacement_nom, label: "Emplacement",  data: {autocomplete_source: autocomplete_emplacement_nom_emplacements_path}
  
  - if @livre.couverture?
    = f.static_control :couverture do
      = link_to image_tag(@livre.couverture_url, class: 'couverture'), avatar_livre_path(@livre)
    = f.file_field :couverture, label: "Modifier"
  - else
    = f.file_field :couverture
    
  = f.number_field :parution
  = f.text_field :achat
  = f.text_area :description, rows: 6
  = f.number_field :nb_pages, label: "Nombre de pages"
  = f.submit 'Sauver', class: "btn"
  %button.btn.pull-right{onclick: 'window.location.href="/";return false;'}
    Retour