%table.table.centree-mini
  - if user_signed_in?
    = bootstrap_form_for @emplacement do |f|
      %tr
        %td
          = f.text_field :nom, placeholder: "Nouvel emplacement", hide_label: :true
        %td
          %button.btn.xs
            %span.glyphicon.glyphicon-plus
  - @emplacements.each_with_index do |emplacement, index|
    %tr   
      %td= emplacement.nom
      - if user_signed_in?
        %td
          = button_to edit_emplacement_path(emplacement), method: :get, class: "btn pull-left", style: "margin-right:10px;" do
            .glyphicon.glyphicon-pencil
          = button_to emplacement, method: :delete, class: "btn pull-left", :data => { :confirm => 'Are you sure?' } do
            .glyphicon.glyphicon-trash
