%table.table.centree
  %tr
    %td
      .titre.pull-left
        = @emplacement.nom
        
      = button_to 'Listes des Emplacements', emplacements_path, method: :get, class: "btn pull-right", style: "margin-left: 20px;"
      - if user_signed_in?
        = button_to 'Supprimer', emplacement_path(@emplacement), method: :delete, class: "btn pull-right", style: "margin-left: 20px;", data: {confirm: 'Are you sure?' }
        = button_to 'Modifier', edit_emplacement_path(@emplacement), method: :get, class: "btn pull-right"

  %tr
    %td
      Livres à cet emplacement :

  - @liste_by_auteur.each do |auteur, livres|
    %tr
      %td
        %a{href: auteur_path(livres[0].auteur_id)}
          = auteur
        %br
        - livres.each do |livre|
          %a.titre{href: livre_path(livre), style: "margin-left: 40px"}
            = livre.titre
          %br
        
          
  - if @liste_by_auteur.empty?
    %tr
      %td{colspan: 2}
        Aucun livre.
%br
%br

