.centree

  %table.table-en-tete{width: "100%"}
    %tr
      %td
        = form_tag(auteurs_path, :method => "get", class: "navbar-form", id: "search-form") do
          = text_field_tag :search, params[:search], class: "span2", placeholder: "Rechercher un auteur"
          %button.btn.xs{type: "submit"}
            %span.glyphicon.glyphicon-search
      %td
        = button_to 'Ajouter Auteur', new_auteur_path, method: :get, class: "btn pull-right"
  %br
  %br

  %table.table.small
    - @auteurs.each_with_index do |auteur, index|
      - if index%2==0
        %tr
      %td
        %a{href: auteur_path(auteur)}
          = image_tag((auteur.photo.blank? ? 'no_avatar.jpeg' : auteur.photo_url), class: 'couverture')
      %td
        %a.titre{href: auteur_path(auteur)}
          = auteur.nom
        .informations
          = auteur.naissance
          \-
          = auteur.mort
          %br
          = auteur.nationalite
  .pull-right
    = will_paginate @livres, :renderer => BootstrapPagination::Rails