<!DOCTYPE html>
%html
%head
  %title
    Bibliothèque
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  = favicon_link_tag 'book.ico'

  %nav.navbar.navbar-default{role: "navigation"}
    %div.container-fluid
      %div.navbar-header
        %strong.navbar-brand
          = image_tag('book.ico', alt: "Bibliothèque", width: 20)
          =@title
          =@modifs

      %div.pull-right.collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          -#=cookies[:onglet_livres]
          - if cookies[:onglet_livres]=="true"
            %li
              %a{href: root_path}
                Livres
          - if cookies[:onglet_auteurs]=="true"
            %li
              %a{href: auteurs_path}
                Auteurs
          - if cookies[:onglet_genres]=="true"
            %li
              %a{href: genres_path}
                Genres
          - if cookies[:onglet_editions]=="true"
            %li
              %a{href: editions_path}
                Editions
          - if cookies[:onglet_emplacements]=="true"
            %li
              %a{href: emplacements_path}
                Emplacements
          - if cookies[:onglet_scans]=="true"
            %li
              %a{href: scans_path}
                Scans
          %li
            %a{href: parametres_path}
              %span.glyphicon.glyphicon-cog

%body
  .centree
    - if flash[:error] || alert
      .alert.alert-danger{role: "alert"}
        %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
        =flash[:error]
        =alert
    - if flash[:notice]
      .alert.alert-success{role: "alert"}
        =flash[:notice]

  = yield




